$black: #000;
$black1: #5a5a5a;
$brightBlue: #8fe0ff;
$medBlue: #75b4e3;
$darkBlue: #31255a;
$orange: #ff7511;
$white: #fff;

* {
    box-sizing: border-box;
}

.header-wrap {
    background-color: $black1;
    padding: 10px 20px;
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        h1 {
            font-family: sans-serif;
            font-size: 22px;
            font-weight: 400;
            background-color: $orange;
            color: $white;
            padding: 10px 18px;
            width: fit-content;
            border-radius: 10px;
            height: 50px;
            display: flex;
            align-items: center;
        }
    }
}
.current-weather {
    max-width: 1200px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    >h2 {
        text-align: center;
    }
    .inner-weather {
        // outline: 1px solid red;
        display: flex;
        justify-content: center;
        gap: 20px;
        background-image: linear-gradient($brightBlue, $medBlue);
        padding: 30px;
        border-radius: 12px;
        .info-1 {
            // background-color: $white;
            width: 200px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .temperature {
                display: flex;
                gap: 10px;
                background-color: $white;
                border-radius: 8px;
                padding: 14px 20px;
                .current {
                    display: block;
                    font-size: 52px;
                    line-height: 1;
                }
                .sub-temps {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 6px 0;
                    .max,
                    .min {
                        font-size: 14px;
                        line-height: 1;
                    }
    
                }
            }
            .suntimes {        
                background-color: $white;
                padding: 14px 20px;
                border-radius: 8px;
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                .sunrise, .sunset {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    .left {
                        .material-symbols-outlined {
                            font-size: 50px;
                        }
                        p {
                            margin: 0;
                            font-size: 16px;
                            color: $black1;
                            text-align: center;
                        }
                    }
                    .time {
                        font-size: 20px;
                    }
                }
            }
        }
        .big-section {
            width: 220px;
            background-color: $white;
            border-radius: 8px;
            justify-content: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 30px;
            .condition {
                text-align: center;
                margin: 0;
            }
        }
        .info-2 {
            // background-color: lightcyan;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            width: 300px;
            gap: 20px;
            .item {
                $g: 20px; //gap between cards
                $n: 2; //number of cards per row
                flex-basis: calc(100%/$n + $g/$n - $g);
                aspect-ratio: 1;
                text-align: center;
                padding: 10px;
                border-radius: 8px;
                background-color: $white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .material-symbols-outlined {
                    font-size: 50px;
                }
                .desc {
                    margin: 5px 0 0 0;
                    font-size: 16px;
                    color: $black1;
                }
                p {
                    font-size: 18px;
                    margin: 0;
                }
            }
        }


        .pressure {
        }
        .winds {
            .indicator-outer {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid black;
                border-radius: 200px;
                height: 50px;
                aspect-ratio: 1;
                --wind-dir: 0;
                position: relative;
                margin: 10px auto 10px auto;
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: red;
                    height: 5px;
                    width: 5px;
                    border-radius: 20px;
                }
                &:after {
                    // direction tiks
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 150%;
                    width: 150%;
                    

                }
                .indicator {
                    height: 26px;
                    aspect-ratio: 1;
                    clip-path: polygon(50% 0,
                        80% 100%,
                        20% 100%);
                    background-color: black;
                    transform: rotateZ(var(--wind-dir));
                }
            }
            .wind-speed {
            
            }
        }
    }
}

.weather-forecast {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: $medBlue;
    max-width: 800px;
    padding: 20px;
    border-radius: 12px;

    .inner {
    }
    .days {
        display: flex;
        justify-content: center;
        gap: 20px;
        >div {
            // background-color: tomato;
            background-color: $white;
            border-radius: 8px;
            padding: 10px;
            .dayname {
                display: block;
                text-align: center;
            }
            .temps {
                display: flex;
                justify-content: space-between;
                padding: 0 10px;
            }
        }
    }
}

.fields {
    input {
        border: unset;
        height: 50px;
        font-size: 16px;
        border-radius: 8px;
        padding: 10px;
    }
    button {
        border: unset;
        height: 50px;
        font-size: 16px;
        padding: 10px 30px;
        border-radius: 8px;
    }
}
